body {
    background-color: white;
}

.item {
    background-color: #fffff0;
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

    .item:hover {
        background-color: #ffffff;
    }

    .item:active {
        background-color: #f0f0ff;
    }

#con {
    overflow: auto;
    height: 200px;
}
