body {
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

.item {
    background-color: #fffff0;
    border: 1px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.btn, .item {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
    .item:hover {
        background-color: #ffffff;
    }

    .item:active {
        background-color: #f0f0ff;
    }

#con {
    overflow: auto;
    height: 200px;
    background-color: #f0f0ff;
    border: 1px solid black;
    resize: vertical;
}
.item:focus {
    background: olive;
}
#buttons {
    height: 20px;
    line-height: 20px;
    background: wheat;
    padding-left:5px;
    padding-bottom:5px;
}
.btn {
    background: Cornsilk;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-right: 5px;
    padding-left: 5px;
}
#start {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin:0px;
}
.data {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin:0px;
}
#datas {
    padding-top: 5px;
}
#sort {
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}