body {
	margin:0
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	bottom: 0;
	width: 100%;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.active, .active:hover{
	background-color: #4CAF50;
}
li a:hover:not(.active) {
	background-color: #777777;
}
.icon{
	filter: invert(100%) sepia(99%) saturate(2%) hue-rotate(334deg) brightness(107%) contrast(101%);
}
.block{
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	font-size: 3vh;
}
a{
	text-decoration:none;
	font-weight: bold;
	color: #FFFFFF;
}
.LessonLine {
	display: flex;
	justify-content: space-between;
	background-color: #4CACFF;
	padding: 5px;
}
.LessonItem{
	margin:5px;
	font-size:3vh;
}
#dataHolder{
	padding:18vh 0px 0px 0px;
	background-color:#f0f0ff;
	height:150vh;
}
#header{
	background-color: #333;
	color: #FFFFFF;
}